/*By Victoria Pettersen > github.com/machinehug & machinehug.com*/

/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   GLOBAL
   ==========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

:root {
    /*makes it easier to calculate: 62.5% = 10px / 1rem*/
    font-size: 62.5%;

    --yellow: rgb(255, 255, 0);
    --darkgray: rgba(128, 128, 128, 0.267);
    --lightgray: darkgray;
    --white: #FFFFFF;
    --black: rgb(12, 12, 12);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    /*body txt*/
    font-family: 'Lato', sans-serif;
    /*no user select*/
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 1.6rem;
    line-height: 160%;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    padding-bottom: 2rem;
}

h1,
p {
    margin: 0;
}

p {
    font-size: 1.6rem;
}

.pic {
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    background-repeat: no-repeat;
}

.icon {
    font-size: 2rem;
}

.hamburger-open,
.hamburger-close,
a,
.fake-link,
.social-media i {
    cursor: pointer;
}

.social-media i {
    cursor: pointer;
    margin: 0 0.6rem;
}

.social-media {
    font-size: 2.5rem;
    border-top: 1px solid var(--yellow);
    color: var(--white);
}

a,
.fake-link {
    text-decoration: none;
    color: var(--yellow);
    font-weight: bolder;
}

/*larger imgs*/
.other-pic {
    cursor: default;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 40rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.info {
    width: 100%;
    max-width: 60rem;
    height: fit-content;
    background-color: black;
    color: white;
    border-top: 5px solid white;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.title-wrapper {
    line-height: 270%;
    text-align: center;
    margin: 6rem 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.title {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    color: var(--white);
    background-color: var(--black);
    border: 2px solid var(--yellow);
    padding: 2.2rem 3.3rem;
}

.title,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.subhead {
    font-size: 2.5rem;
    margin: 0;
    width: 100%;
    text-align: left;
    padding-bottom: 2rem;
}

.max-width {
    width: 100%;
    max-width: 170rem;
    margin: 0 auto;
}

.padding-top {
    padding-top: 5rem;
}

.hidden {
    display: none !important;
}

/* ==========================================================================
      HEADER & LOGO & NAV/HAMBURGER
      ==========================================================================*/

.hamburger-open,
.hamburger-close,
.logo {
    color: var(--white);
}

.logo,
.hamburger-open {
    padding-top: 0.5rem;
}

.hamburger-open {
    display: flex;
    align-items: center;
}

.hamburger-close {
    float: right;
}

.logo {
    height: 4rem;
    padding: 1rem 0 0.3rem 1rem;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--black);
    border-bottom: var(--yellow) 1px solid;
}

header .max-width {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

nav {
    display: flex;
    align-items: center;
    flex-flow: row-reverse wrap;
    padding: 0.5rem 0.3rem 0 0;
}

nav,
.hamburger-open {
    padding-right: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--yellow);
    text-decoration: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
}

nav ul li a:hover,
nav ul li span:hover {
    color: var(--white);
}

nav ul {
    margin: 0;
    padding: 0;
    width: 65rem;
}

/* ==========================================================================
      FOOTER
      ==========================================================================*/

footer {
    background-color: black;
    color: white;
    width: 100%;
}

.copyright {
    text-align: center;
    padding-top: 5rem;
}

.social-media-footer {
    padding: 0 4rem 2rem 4rem;
    text-align: center;
    border: none;
    width: 100%;
    margin-top: 2rem;
}